/* Container for centering the form vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Background color black */
    padding: 1em;
    margin: 0;
  }
  
  .card {
    background-color: #000000; /* Background color black */
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 255, 117, 0.3);
    padding: 2em;
    max-width: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border: 2px solid transparent; /* Default border for animation */
  }
  
  .card:hover {
    transform: scale(1.02);
    border: 2px solid #00ff75; /* Border color on hover */
  }
  
  #heading {
    text-align: center;
    color: #ffffff;
    font-size: 1.8em;
    margin-bottom: 1em;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .field {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .input-icon {
    height: 1.5em;
    width: 1.5em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
    font-size: 1em;
    padding-left: 0.5em;
  }
  
  .btn-container {
    display: flex;
    gap: 1em;
    justify-content: center;
  }
  
  .button {
    padding: 0.7em 2em;
    border-radius: 5px;
    border: 2px solid #252525; /* Default border color */
    outline: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s;
    background-color: #000000; /* Button background color black */
    color: #ffffff; /* Button text color white */
  }
  
  .button-primary {
    border-color: #00ff75; /* Green border color */
  }
  
  .button-primary:hover {
    background-color: #00ff75; /* Green background color on hover */
    color: #000000; /* Black text color on hover */
    border-color: #00cc66; /* Darker green border color on hover */
    box-shadow: 0 0 10px rgba(0, 255, 117, 0.5);
  }
  
  .button-secondary {
    border-color: #3700ff; /* Blue border color */
  }
  
  .button-secondary:hover {
    background-color: #3700ff; /* Blue background color on hover */
    color: #ffffff; /* White text color on hover */
    border-color: #2a00cc; /* Darker blue border color on hover */
    box-shadow: 0 0 10px rgba(55, 0, 255, 0.5);
  }
  
  .form-footer {
    text-align: center;
    margin-top: 1em;
  }
  
  .form-footer a {
    color: white;
    text-decoration: none;
  }
  
  .form-footer a:hover {
    color: #00ff75;
  }
  